/* nes_world */

@font-face {
    font-family: "Teletext";
    src: url("../fonts/EuropeanTeletext.ttf");
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width:100%;
}

body{
    font-family: Teletext, "Bahnschrift", "Arial Narrow"!important;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    grid-template-areas:
    "header_nes"
    "main_nes"
    "footer_nes";
}

.wrapper{
    max-width: 80%;
    margin: 0 auto;
}

/* header */
#header{
    grid-area: header_nes;
    border-bottom: 10px solid #000000;
}
.logo{
    display: grid;
}

.logo > a{
    font-size: 6em;
    padding: 25px;
    place-self: center;
}

.menu{
    padding-bottom: 20px;
}

.menu > ul{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
}

/* main */
#main{
    grid-area: main_nes;
}

.figcaption-new{
    justify-items: center;
    display: grid;
}

/* footer */
#footer{
    display: grid;
    background-color: #c10000;
    color: #FFFFFF;
    border-top: 10px solid #000000;
    grid-area: footer_nes;
}

#footer > p{
    padding: 15px;
    font-size: 1em;
    place-self: center;
    margin-bottom: 0!important;
}