/* nes_world */

@font-face {
    font-family: "Teletext";
    src: url("../fonts/EuropeanTeletext.ttf");
}

*{
    margin: 0;
    padding: 0;
}

a,a:hover{
    cursor: pointer;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width:100%;
}

body{
    font-family: Teletext, "Bahnschrift", "Arial Narrow"!important;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    grid-template-areas:
    "header_nes"
    "main_nes"
    "footer_nes";
}

.wrapper{
    max-width: 80%;
    margin: 0 auto;
}

/* header */
#header{
    grid-area: header_nes;
    border-bottom: 10px solid #000000;
    background-color: #c10000;
}

.head{
    padding: 20px;
}

.logo{
    display: grid;
}

.logo > a{
    color: #ffffff!important;
    font-size: calc(15px + (90 - 14) * ((100vw - 150px) / (1600 - 300)));
   /* place-self: center; */
}

#mainMenu > ul > li > a{
    font-size: calc(1rem + (18 - 14) * ((100vw - 150px) / (1600 - 300)));
    color: #ffffff!important;
}

.menu{
    padding-bottom: 20px;
}

.menu > ul{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
}

.navbar{
    text-transform: uppercase;
    padding: 0!important;
}

.navbar-custom {
    border: 3px dashed #ffffff !important;
}

.invert { filter: invert(100%); }

.dropdown-menu{
    padding:0;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #c10000;
}

#search-form > .form-control, .btn-light{
    height: auto!important;
}

.dropdown-custom{
    padding-left: .5rem;
}

.dropdown-menu-user{
    margin: 0;
    padding:5px;
    min-width: 16rem;
}

.right-side{
    display: flex;
    justify-content: space-between;
}

/* search area */
.btn-custom{
    border: 10px solid #000000;
    background-color: #000000;
}
.btn-custom:hover{
    background-color: #333;
}

.search-fix{
    border: 10px solid #000000;
    border-right: none;
}

.btn-user{
    color: #212529;
    background-color: #f8f9fa;
    border: 10px solid #000000!important;
}

.form-control, .btn{
    border-radius:0;
}

.btn-user-drop{
    width:100%;
    text-transform: uppercase;
}

button:focus {
    outline: 0!important;
}

.nav-tabs-custom{
    text-transform: uppercase;
}


/* main */
#main{
    grid-area: main_nes;
}

.figcaption-new{
    justify-items: center;
    display: grid;
}

.figcaption-new > a{
    font-size: calc(0.8rem + (30 - 14) * ((100vw - 150px) / (1600 - 300)));
}

.img-fluid{
    border: 10px solid #000;
}

/* footer */
#footer{
    display: grid;
    background-color: #c10000;
    color: #FFFFFF;
    border-top: 10px solid #000000;
    grid-area: footer_nes;
}

#footer > p{
    padding: 15px;
    font-size: 1em;
    place-self: center;
    margin-bottom: 0!important;
}

@media (min-width: 992px) {
    .ml-md-2, .mx-md-2 {
        margin-left: .5rem!important;
    }

}
@media (max-width: 992px){
    .navbar-expand-xl .navbar-collapse {
        justify-content: space-between;
    }
    .dropdown-menu-right{
        right: auto;
    }
}